* {
    margin: 0;
    padding: 0;
}

body{
    background-color:black;
    justify-content: center;
    margin: auto 0;
    font-family: 'Varela Round', sans-serif;
    /* margin-top: 60px; */
    text-align: center;

}


.clock {
    color: #17D4FE;
    font-size: 60px;
    font-family: 'Varela Round';
    letter-spacing: 7px;
    padding: 50px;
   


}


.btn{
    display: inline-block;
    margin: 0 auto;
    background-color: dodgerblue;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-size: large;
    border: none;
    transition: all .5s;
    margin: 20px;

}

.btn:focus {outline:0;}


.btn:hover{
    cursor: pointer;
    
}

.btn:hover{
    background-color:turquoise;

}

.container{
background-color: aqua;
/* padding: 30px; */
}

.stopwatch{
    justify-content: center;
    margin: 0 auto;
    /* margin-top: 100px; */
    background-color: white;
    padding: 50px;

}

h1{
    font-size: 40px;;
}

.countdown{
    background-color: lightgray;
    padding: 100px;
}

.form {
    width: 40px;
    font-size: 40px;
    padding: 10px 20px;
}